---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import MdxCard from "../../components/mdx-card.astro";
import MDXLayoutDocs from "../../layouts/MDX-layout-docs.astro";

const allPosts = await getCollection("docs");
---

<Layout title="docs">
  <MDXLayoutDocs
    title="Documentation"
    description="Everything starts here"
    toc={[]}
  >
    <div class="grid sm:grid-cols-2 gap-4 mt-6">
      {
        allPosts.map((post) => (
          <MdxCard href={`/docs/${post.slug}`}>
            <h3 class="mt-8 scroll-m-20 text-2xl font-semibold tracking-tight">
              {post.data.title}
            </h3>
            <p class="leading-7 [&:not(:first-child)]:mt-6">
              {post.data.description}
            </p>
          </MdxCard>
        ))
      }
    </div>
  </MDXLayoutDocs>
</Layout>
