.astro-code {
  @apply mb-4 mt-6 max-h-[650px] overflow-x-auto rounded-lg border bg-zinc-950 py-4 dark:bg-zinc-900;
}
.astro-code code {
  @apply grid relative rounded px-4 py-[0.2rem] font-mono text-sm;
}
.astro-code [data-line-numbers] > ::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}
.astro-code .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
}
.astro-code .line-highlighted span {
  @apply relative;
}
.astro-code .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}

.astro-code + pre {
  @apply mt-0;
}
