---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button.tsx";
---

<Layout title="Welcome to Astro.">
  <div class="grid place-items-center flex-1 content-center gap-4">
    <Button id="button">Tailwind Button in Astro!</Button>
    <Button><a href="/docs">To the Docs!</a></Button>
  </div>
</Layout>

<script>
  const button = document.getElementById("button");
  button?.addEventListener("click", () => {
    alert("clicked!");
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
