---
import DocsPageHeader from "./docs-page-header.astro";
import { InjectTOC, Item } from "./site-provider";

interface DocsConfig {
  title: string;
  description: string;
  toc: Item[];
}

interface Props {
  toc: Item[];
  title: string;
  description: string;
}

const { toc, title, description } = Astro.props;

/*
  items: [
    { url: '#usestate', title: 'useState', items: [Array] },
    { url: '#usereducer', title: 'useReducer', items: [Array] },
    { url: '#usestate-vs-usereducer', title: 'useState vs useReducer' }
  ]
*/
---

<div class="container flex-1">
  <main class="relative py-6 lg:gap-10 lg:py-8 xl:grid">
    <div class="mx-auto w-full min-w-0">
      <DocsPageHeader heading={title} text={description} />
      <div class="pb-12 pt-8"><slot /></div>
    </div>
    <InjectTOC toc={toc} />
  </main>
</div>
