---
import { cn } from "../lib/utils";
import { Item } from "../stores/site";
import SiteSidebarNavLink from "./site-sidebar-nav-link.astro";

const SIDEBAR_DEEP_LEVEL = 3;

interface Props {
  tree: Item[];
}

const { tree } = Astro.props;
---

<ul>
  {
    tree.map((section) =>
      section.depth < SIDEBAR_DEEP_LEVEL ? (
        <li
          class={cn(
            "",
            { "ml-4": section.depth === 1 },
            { "ml-8": section.depth === 2 }
          )}
        >
          <SiteSidebarNavLink href={section.slug} isAnchorLink>
            {section.text}
          </SiteSidebarNavLink>
        </li>
      ) : null
    )
  }
</ul>
