---
//import { useSelectedLayoutSegment } from "next/navigation";
import { HTMLAttributes } from "astro/types";

import { docsConfig } from "../config/docs";
import { cn } from "../lib/utils";
import { ModeToggle } from "./mode-toggle";
// import {
//   SiteSidebarMobile,
//   useIsInsideMobileNavigation,
//   useMobileNavigationStore,
// } from "../components/site-sidebar-mobile";
import Logo from "./logo.astro";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
const segment = "";
---

<div
  id="header"
  class={cn(
    className,
    "fixed inset-x-0 top-0 z-50 flex h-14 items-center justify-between gap-12 px-4 transition sm:px-6 lg:left-72 lg:z-30 lg:px-8 xl:left-80"
  )}
>
  <div
    id="header-wrapper"
    class={cn("absolute inset-x-0 top-full h-px transition")}
  >
  </div>
  <div class="flex items-center gap-5 lg:hidden">
    <!-- <SiteSidebarMobile /> -->
    <Logo />
  </div>
  <div class="ml-auto flex items-center gap-5">
    <nav class="hidden md:block">
      <ul class="flex items-center gap-8">
        {
          docsConfig.mainNav?.map((item) => (
            <li>
              <a
                href={item.disabled ? "#" : item.href}
                class={cn(
                  "text-sm leading-5 transition hover:text-foreground/80",
                  item.href.startsWith(`/${segment}`)
                    ? "text-foreground"
                    : "text-foreground/60",
                  item.disabled && "cursor-not-allowed opacity-80"
                )}
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="hidden h-5 w-px bg-zinc-900/10 dark:bg-white/10 md:block"></div>
    <div class="flex gap-4">
      <ModeToggle client:only />
    </div>
  </div>
</div>

<script>
  import { $isOpen } from "../stores/sidebar";

  const isInsideMobileNavigation = false;
  const htmlHeader = document.getElementById("header");

  if (htmlHeader) {
    if (isInsideMobileNavigation) {
      htmlHeader.classList.add("bg-white", "dark:bg-zinc-900");
    } else {
      htmlHeader.classList.add(
        "backdrop-blur-sm",
        "dark:backdrop-blur",
        "lg:left-72",
        "xl:left-80"
      );
      htmlHeader.classList.add(
        "bg-white/[var(--bg-opacity-light)]",
        "dark:bg-zinc-900/[var(--bg-opacity-dark)]"
      );
    }
  }
  /*
      !isInsideMobileNavigation &&
      "backdrop-blur-sm dark:backdrop-blur lg:left-72 xl:left-80",
    isInsideMobileNavigation
      ? "bg-white dark:bg-zinc-900"
      : "bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)]"
  */

  const htmlHeaderWrapper = document.getElementById("header-wrapper");

  if (htmlHeaderWrapper) {
    if (isInsideMobileNavigation || !$isOpen.value) {
      htmlHeaderWrapper.classList.add("bg-zinc-900/10", "dark:bg-white/10");
    } else {
      htmlHeaderWrapper.classList.remove("bg-zinc-900/10", "dark:bg-white/10");
    }
  }

  /*
        (isInsideMobileNavigation || !mobileNavIsOpen) &&
        "bg-zinc-900/10 dark:bg-white/10"
  */
</script>
