---
import { cn } from "../lib/utils";
import { Item } from "../stores/site";
import SiteSidebarNavLink from "./site-sidebar-nav-link.astro";

interface Props {
  tree: Item[];
}

const { tree } = Astro.props;
const depths = tree.map((section) => section.depth);
const minDepth = Math.min(...depths);
---

<ul>
  {
    tree.map((section) => (
      <>
        {section.depth <= minDepth + 1 ? (
          <li
            class={cn(
              "",
              { "ml-4": section.depth === minDepth },
              { "ml-8": section.depth === minDepth + 1 }
            )}
          >
            <SiteSidebarNavLink href={`#${section.slug}`} isAnchorLink>
              {section.text}
            </SiteSidebarNavLink>
          </li>
        ) : null}
      </>
    ))
  }
</ul>
